.container {
    width: 100%;
    height: 635px;
    background-image: url("/background.jpg");
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#hi {
    font-size: 30px;
    margin: 10px 20px 0px 15px;
}

h1 {
    margin: 10px 15px 0px 15px;
}

h3 {
    margin: 10px 15px 0px 15px;
    color: darkgrey;
}

.typing-animation {
    display: inline-block;
}

.typing-text {
    display: inline-block;
}

.cursor {
    animation: blink 0.7s infinite;
    margin-left: 5px;
}

@keyframes blink {

    0%,
    49% {
        opacity: 1;
    }

    50%,
    100% {
        opacity: 0;
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.left {
    width: 200px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    padding-top: 100px;
}

.right {
    flex: 1;
    background-image: url("/Patil_Aryan.png");
    background-size: cover;
    background-position: center;
    padding-right: 200px;
}

.social-media {
    display: flex;
}

.square {
    height: 40px;
    width: 40px;
    /* background-color: rgb(255, 255, 255); */
    margin: 15px 20px 0px 20px;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.square:hover {
    transform: translateY(-3px);
}

img {
    height: 40px;
    width: 40px;
}